@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f1f5f9;
  color: #0f172a;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

/* Glass Effect */

.glass {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Glow Effect */

.glow {
  box-shadow: 0 0 50px rgba(59, 130, 246, 0.35);
}

/* Gradient Text */

.gradient-text {
  background: linear-gradient(
    90deg,
    #2563eb,
    #06b6d4,
    #9333ea
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Inputs */

input,
select,
textarea {
  color: #0f172a !important;
  background: #ffffff !important;
}

input::placeholder,
textarea::placeholder {
  color: #64748b !important;
  opacity: 1;
}

/* Buttons */

button {
  cursor: pointer;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    #2563eb,
    #06b6d4
  );
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    #1d4ed8,
    #0891b2
  );
}